/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.alone {
  background-color: #39c4c622;
  padding: 5px;

  border-radius: 5px;
}

.nexgen {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-left: 30px;
}

.intestazione {
  color: #00a6a6;
  font-size: 14px;
  margin: 20px 0;
}

.titolo-sez-white {
  font-size: 40px;
  color: white;
}

.titolo-sez-black {
  font-size: 40px;
  color: #058283;
}

.font-title {
  font-size: 40px;
  color: #21333e;
}

.greytext {
  color: #606d75;
}
/*buttons on hover*/
button:hover {
  background-color: #038483;
  border-radius: 5px;
}

/*hover su cards*/
.cards:hover {
  transform: translateY(-10px);
  transition: 0.5s ease;
}

/* centratura ricorrente pagina */
.centratura {
  padding: 0 18%;
  width: 100%;
}

/* header */
#header {
  width: 100%;
  height: 40px;
  /* debug */
  background-color: #24333d;
  font-size: 14px;
}

/*aside orari header */
#orari {
  width: 30%;
  color: #a2adae;
  display: flex;
  align-items: center;
}

#orari i {
  font-size: 12px;
  padding-right: 5px;
}

/* contenitore info dentro header */
#container-info {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contatti {
  width: 45%;
  color: #a2adae;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#phone,
#mail,
#social {
  display: flex;
  align-items: center;
  font-size: 14px;
}
/*icone contatti*/
#contatti i {
  padding-right: 5px;
  font-size: 12px;
}

/*social header*/
#social {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

#social i {
  font-size: 12px;
}

/*sezione jumbo*/
#jumbo {
  width: 100%;
  height: 700px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0.45)),
    url(../img/hero-image.png);
  background-size: cover;
  background-position-y: bottom;
}

/* nav bar*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  color: white;

  /* background-color: blue; */
}

#logo-nav {
  width: 30%;
}

#voci-nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.navoci {
  width: 22%;
  height: 40px;
  padding: 8px;
}

.name-nav-voci {
  padding: 5px 0;
  text-align: center;
}

.navoci:hover {
  background-color: #038483;
  border-radius: 5px;
}

#drop-container {
  width: 100%;
  margin: 10px 0px;
  background-color: #24333d;
}

.dropdown {
  list-style: none;
  padding: 5px 0px;
  border-bottom: 1px solid slategray;
}

.dropdown:hover {
  background-color: #72a2a355;
}

.dropdown a {
  text-decoration: none;

  color: white;
}

#jumbotron {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* contenitore testo jumbotron*/
#jumbo-text {
  color: white;
  text-align: center;
  margin: 0 auto;
}

#j-text {
  width: 55%;
  margin: 45px auto;
}

#j-text h1 {
  font-size: 55px;
  margin: 20px 0;
}

#jumbo-buttons button {
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
}

.a-button {
  background-color: none;
  border: 1px solid #038483;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.a-button:hover {
  background-color: #038483;
}

/*sezione obiettivi*/
#obiettivi {
  width: 100%;
  padding: 100px 0;
  /* height: 400px; */
  background-color: #e3e7df;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cont-obj {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/*singole schede obiettivi*/
.obj {
  width: 31%;
  /* min-height: 220px; */
  border-radius: 10px;
  background-color: white;
  padding: 30px;
}

/*icone obj*/
.obj i {
  font-size: 25px;
  border-radius: 50%;
  background-color: #e3e7df;
  color: #038483;
  padding: 10px;
}

.obj h3,
.obj p {
  padding: 10px 0;
}

.obj p {
  font-size: 16px;
  line-height: 20px;
}

/* sezione about */
#about-company {
  width: 100%;
  height: 700px;
  background-color: white;
}

/*centratura sfalsata sezione*/
#ab-centra {
  margin-left: 18%;

  height: 700px;
  display: flex;
}

/*aside testo about left*/
#about-text {
  width: 40%;
  padding: 10% 0;
}

/*contenitore testo sez sinistra about*/
#text-about-cont {
  width: 100%;
}

#text-about-cont h1 {
  width: 100%;
  font-size: 40px;
  padding: 15px 0;
  font-weight: bolder;
}

#cont-about {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0;
}

.ab-cell {
  width: 50%;
  /* min-height: 200px; */
  padding: 20px 0;
}

.ab-cell i {
  margin-right: 10px;
  float: left;
  color: #038483;
  font-size: 20px;
}

.ab-cell h3 {
  margin-bottom: 10px;
  font-size: 22px;
}

.ab-cell p {
  color: #111117;
}

/*aside right con immagine about*/
#about-img {
  width: 60%;
  background-image: url(../img/about-3.jpg);
  background-size: cover;
  background-position: center;
}

/*services section*/
#services {
  width: 100%;
  background-color: #111117;
  display: flex;
  align-items: center;
  padding: 80px 0;
}

#services-text {
  padding: 20px 0;
}

#see-all-services {
  display: flex;
  justify-content: space-between;
  color: #a2adae;
  padding-bottom: 40px;
  width: 100%;
}

#see-all-services p {
  width: 80%;
}

/*contenitore cards services*/
#cont-cards-serv {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* debug */
}

/*cards services griglia*/
.cards-services {
  width: calc(95% / 3);
  min-height: 300px;
  border-radius: 5px;
  margin: 1% 0;
  background-color: #19191f;
  padding: 30px;
}

.cards-services i {
  font-size: 30px;
  color: #39c4c6;
  padding: 20px 0;
}

.cards-services h3 {
  font-size: 20px;
  color: white;
  padding: 10px 0;
}

.cards-services p {
  padding-bottom: 40px;
}

.read-more {
  margin: 20px 0;
}

/* sezione pricing */
#pricing {
  width: 100%;
  background-color: #eef4ed;
  display: flex;
  align-items: center;
  padding: 80px 0;
}

/* contenitore testo pricing  */
#cont-text-pricing {
  text-align: center;
  width: 60%;
  margin: 20px auto;
}

#cont-text-pricing h1 {
  font-size: 40px;
  font-weight: bolder;
  margin: 20px 0;
}

/*contenitore price cards*/
#cont-cards-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
/*cards price sezione*/
.price-cards {
  width: 32%;
  margin: 1% 0;
  border-radius: 8px;
  padding: 30px;
  position: relative;
  /*debug*/
  background-color: white;
}

.text-prices {
  text-align: center;

  margin: 10px;
}

.price {
  color: #00a6a6;
  font-size: 30px;
  margin: 10px 0;
}

.mini {
  font-size: 14px;
}

.text-prices i {
  font-size: 35px;
  color: #00a6a6;
  margin-bottom: 10px;
}

#most-pop {
  margin-top: 10px;
  width: 60px;
  background-color: #00a6a6;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 2px;
  color: white;
  font-size: 12px;
  position: absolute;
  left: 0;
}

.price-feautures {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  font-size: 14px;
}

/* sezione news */
#news {
  width: 100%;
  min-height: 600px;
  background-color: white;
  display: flex;
  align-items: center;
}
/*see all news con button affiancato*/
#see-all-news {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  align-items: flex-end;
}

#see-all-news .a-buttonv2 {
  background-color: #038483;
  border-radius: 5px;
  color: white;
  padding: 10px 15px;
}

/*contenitore cards news*/
#cards-news-cont {
  min-height: 200px;
  display: flex;
  justify-content: space-between;
}

.author-news {
  position: absolute;
  top: 30px;
  left: 30px;
  color: white;
  display: flex;
  width: 100%;
}

/*cards news*/
.news-cards {
  width: 32%;
  border-radius: 8px;
  border: 1px solid black;
  min-height: 280px;
  background-color: crimson;
  margin: 1% 0;
  display: flex;
  position: relative;
  align-items: flex-end;
}

/*background immagini delle cards in news*/
.first-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0.45)),
    url(../img/news-1.jpg);
  background-size: cover;
}

.second-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0.45)),
    url(../img/news-2.jpg);
  background-size: cover;
}

.third-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0.45)),
    url(../img/news-3.jpg);
  background-size: cover;
}

/*testo interno alle immagini in news*/
.text-img-news {
  padding: 20px;
  color: white;
  text-align: center;
}

/*sezione newsletter*/
#news-letter {
  width: 100%;
  min-height: 400px;
  background-image: url(../img/bg-1.jpg);
  display: flex;
  align-items: center;
}

/*contenitore news-letter*/
#cont-newsletter {
  width: 100%;
  border: 1px solid black;
  min-height: 200px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

/*aside sx interno a news letter contenitore*/
#newsletter-text {
  width: 40%;
}
#container-form {
  width: 40%;
}

/* sezione get in touch */
#get-touch {
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  background-color: white;
}

/*contenitore degli aside get in touch*/
#cont-send-mess {
  width: 100%;
  display: flex;
}

/*aside get in touch left*/
#message-form {
  width: 70%;
  /*debug*/
  min-height: 200px;
  border: 1px solid black;
}

#cont-message {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*form messaggi*/
.input-wrap input,
#cont-message select {
  width: 100%;
  height: 40px;
  border-radius: 2px;
}

#cont-message select {
  width: 100%;
}

/*classe wrapper input e select*/
.input-wrap {
  width: 48%;
  height: 40px;
  margin: 2% 0;
}

/*primo div wrapper con icona in position absolute*/
#name-div {
  position: relative;
}
/*icona in input name*/
.input-wrap img {
  position: absolute;
  top: 0.5em;
  left: 90%;
}
/*input name padding testo*/
#name-input {
  padding-right: 30px;
}
/*textarea messaggio*/
#messaggio {
  width: 100%;
}

/*aside destro al form*/
#contact-message {
  width: 30%;
  /*debug*/
  min-height: 200px;
  border: 1px solid black;
}

/*linea contatto*/
.cont-touch {
  display: flex;
  padding: 10px 0;
}

/* footer */
footer {
  width: 100%;
  min-height: 600px;
  background-color: #19191f;
  display: flex;
  align-items: center;
}

#cont-foot-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cards-foot {
  width: 19%;
  /*debug*/
  min-height: 300px;
  border: 1px solid white;
}

.cont-footer {
  display: flex;
  padding: 10px 0;
}

/*sub footer*/
#sub-footer {
  width: 100%;
  height: 80px;
  background-color: #111117;
}

/*contenitore crediti subfooter*/
#cont-credits {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
