/* regole generali struttura pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/*========> REGOLE DI STILE RICORRENTI NELLA PAGINA <======== */

/*classe hidden vue*/
.hidden {
  display: none;
}
/*classe show vue*/
.show {
  display: block;
}
/*alone azzurro attorno a titoli sezioni e nex*/
.alone {
  background-color: #39c4c622;
  padding: 5px;
  border-radius: 5px;
}
/*stile span 'nex' logo footer e header*/
.nexgen {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-left: 20px;
  color: #00a6a6;
}

/*colore h3 intestazione sez*/
.intestazione {
  color: #00a6a6;
  font-size: 14px;
  margin: 20px 0;
}

/*titolo con sez sfondo nero*/
.titolo-sez-white {
  font-size: 40px;
  color: white;
}

/*titolo con sez sfondo bianco*/
.titolo-sez-black {
  font-size: 40px;
  color: #058283;
}

/*stile titoli sezioni*/
.font-title {
  font-size: 40px;
  color: #21333e;
}

/*colore p delle sezioni*/
.greytext {
  /* color: #606d75; */
  color: #606d75;
}

/*font p intestazioni */
.p-font-int {
  font-size: 14px;
}

/*rimuovo da tutti input select e textarea la selezione bordata*/
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/*buttons on hover*/
button:hover {
  background-color: #038483;
  border-radius: 5px;
}

/*stile cards e hover su cards*/
.cards {
  transition: 0.5s ease;
}

.cards:hover {
  transform: translateY(-10px);
  transition: 0.5s ease;
}

.price-cards:hover {
  transform: scaleY(1.1);
  transition: 0.5s ease;
}

/* centratura ricorrente pagina */
.centratura {
  padding: 0 18%;
  width: 100%;
}

/*========> FINE REGOLE DI STILE RICORRENTI NELLA PAGINA <======== */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* =====> REGOLE SPECIFICHE <====== */

/* header */
#header {
  width: 100%;
  height: 40px;
  /* debug */
  background-color: #24333d;
  font-size: 14px;
}

/*aside orari header */
#orari {
  width: 30%;
  color: #a2adae;
  display: flex;
  align-items: center;
}

/*icone in orari*/
#orari i {
  font-size: 12px;
  padding-right: 5px;
}

/* contenitore info dentro header */
#container-info {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*aside sx header contatti*/
#contatti {
  width: 45%;
  color: #a2adae;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*inline contenuto contatti header*/
#phone,
#mail,
#social {
  display: flex;
  align-items: center;
  font-size: 14px;
}
/*icone contatti*/
#contatti i {
  padding-right: 5px;
  font-size: 12px;
}

/*social header*/
#social {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

/*icone social*/
#social i {
  font-size: 12px;
}

#social a {
  text-decoration: none;
  color: #a2adae;
}

/*sezione jumbo*/
#jumbo {
  width: 100%;
  height: calc(100vh - 40px);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.712)),
    url(../img/hero-image.png);
  background-size: cover;
  background-position-y: bottom;
}

/* nav bar*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  color: white;
}

/*contenitore logo nav*/
#logo-nav {
  width: 30%;
}

/*voci nav dinamicizzate*/
#voci-nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.navoci {
  width: 22%;
  height: 40px;
  padding: 8px;
  position: relative;
  z-index: 900;
}

.name-nav-voci {
  padding: 5px 0;
  text-align: center;
}
/*effetto on hover alle voci*/
.navoci:hover {
  background-color: #038483;
  border-radius: 5px;
  cursor: pointer;
}
/* contenitore dropdown*/
#drop-container {
  width: max-content;
  border-radius: 5px;
  position: absolute;
  left: 1px;
  top: 35 px;
  background-color: #24333d31;
  padding: 10px 0;
  margin: 5px 0;
  text-align: center;
}

/*singola linea del dropdown*/
.dropdown {
  list-style: none;
  padding: 5px 5px;
  border-bottom: 1px solid slategray;
}
/*hover effect on dropdown element*/
.dropdown:hover {
  background-color: #72a2a355;
}
/*style a*/
.dropdown a {
  text-decoration: none;
  color: white;
}

/*sezione jumbotron*/
#jumbotron {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* contenitore testo jumbotron*/
#jumbo-text {
  color: white;
  text-align: center;
  margin: 0 auto;
}

/*stili testo jumbotron*/
.jumbo-subtext {
  color: #b6b9c5;
}

#j-text {
  width: 55%;
  margin: 45px auto;
}

#j-text h1 {
  font-size: 55px;
  margin: 20px 0;
}

#jumbo-buttons button {
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
}

/*classe ricorrente button v1*/
.a-button {
  background-color: none;
  border: 1px solid #038483;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.a-button:hover {
  background-color: #038483;
}

/*sezione obiettivi*/
#obiettivi {
  width: 100%;
  padding: 100px 0;
  /* height: 400px; */
  background-color: #eef4ed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cont-obj {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/*singole schede obiettivi*/
.obj {
  width: 31%;
  border-radius: 10px;
  background-color: white;
  padding: 30px;
}

/*icone obj*/
.obj i {
  font-size: 25px;
  border-radius: 50%;
  background-color: #daeced;
  color: #038483;
  padding: 10px;
}

/*stile testo obj*/
.obj h3,
.obj p {
  padding: 10px 0;
}

.obj p {
  font-size: 14px;
  line-height: 20px;
  color: #606d75;
}

/* sezione about */
#about-company {
  width: 100%;
  height: 700px;
  background-color: white;
}

/*centratura sfalsata sezione*/
#ab-centra {
  margin-left: 18%;

  height: 700px;
  display: flex;
}

/*aside testo about left*/
#about-text {
  width: 40%;
  padding: 10% 0;
}

/*contenitore testo sez sinistra about*/
#text-about-cont {
  width: 90%;
}

#text-about-cont h1 {
  width: 100%;
  font-size: 40px;
  padding: 15px 0;
  font-weight: bolder;
  color: #21333e;
}

#text-about-cont p {
  width: 100%;
  font-size: 14px;
}

#cont-about {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0;
}

.ab-cell {
  width: 50%;
  /* min-height: 200px; */
  padding: 20px 0;
}

.ab-cell i {
  margin-right: 10px;
  float: left;
  color: #038483;
  font-size: 20px;
}

.ab-cell h3 {
  margin-bottom: 10px;
  font-size: 22px;
  color: #21333e;
}

.ab-cell p {
  font-size: 14px;
}

/*aside right con immagine about*/
#about-img {
  width: 60%;
  background-image: url(../img/about-3.jpg);
  background-size: cover;
  background-position: center;
}

/*services section*/
#services {
  width: 100%;
  background-color: #111117;
  display: flex;
  align-items: center;
  padding: 80px 0;
}

#services-text {
  padding: 20px 0;
}

#see-all-services {
  display: flex;
  justify-content: space-between;
  color: #a2adae;
  padding-bottom: 40px;
  width: 100%;
}

#see-all-services p {
  width: 80%;
}

/*contenitore cards services*/
#cont-cards-serv {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* debug */
}

/*cards services griglia*/
.cards-services {
  width: calc(95% / 3);
  min-height: 300px;
  border-radius: 5px;
  margin: 1% 0;
  background-color: #19191f;
  padding: 30px;
}

.cards-services i {
  font-size: 30px;
  color: #39c4c6;
  padding: 20px 0;
}

.cards-services h3 {
  font-size: 20px;
  color: white;
  padding: 10px 0;
}

.cards-services p {
  padding-bottom: 40px;
}

.read-more {
  margin: 20px 0;
}

/* sezione pricing */
#pricing {
  width: 100%;
  background-color: #eef4ed;
  display: flex;
  align-items: center;
  padding: 80px 0;
}

/* contenitore testo pricing  */
#cont-text-pricing {
  text-align: center;
  width: 60%;
  margin: 20px auto;
}

#cont-text-pricing h1 {
  font-size: 40px;
  font-weight: bolder;
  margin: 20px 0;
}

/*contenitore price cards*/
#cont-cards-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
/*cards price sezione*/
.price-cards {
  width: 32%;
  margin: 1% 0;
  border-radius: 8px;
  padding: 30px;
  position: relative;
  transition: 0.5s ease;
  /*debug*/
  background-color: white;
}

.text-prices {
  text-align: center;
  margin: 10px;
}

.price {
  color: #058283;
  font-size: 30px;
  margin: 10px 0;
}

.mini {
  font-size: 14px;
}

.text-prices i {
  font-size: 35px;
  color: #00a6a6;
  margin-bottom: 10px;
}

/*etichetta most popular choice abbonamento*/
#most-pop {
  margin-top: 10px;
  width: 60px;
  background-color: #00a6a6;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 2px;
  color: white;
  font-size: 12px;
  position: absolute;
  left: 0;
}

.price-feautures {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  font-size: 14px;
}
.price-feautures i {
  color: #058283;
}

/* sezione news */
#news {
  width: 100%;
  min-height: 600px;
  background-color: white;
  display: flex;
  align-items: center;
}
/*see all news con button affiancato*/
#see-all-news {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  align-items: flex-end;
}

/*button v2 centralizzato*/
.a-buttonv2 {
  background-color: #038483;
  border-radius: 5px;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
}

/*contenitore cards news*/
#cards-news-cont {
  min-height: 200px;
  display: flex;
  justify-content: space-between;
}

.author-news {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: white;
  display: flex;
  font-size: 14px;
}

.author-news i {
  margin-right: 5px;
}

.aut-date,
.aut-name {
  display: flex;
  margin: 0 10px;
}

.text-img-news h3 {
  padding: 10px 0;
}

/*cards news*/
.news-cards {
  width: 32%;
  border-radius: 8px;
  min-height: 280px;
  margin: 1% 0;
  display: flex;
  position: relative;
  align-items: flex-end;
}

.author-news,
.preview {
  display: none;
}

.news-cards:hover .author-news,
.news-cards:hover .preview {
  display: flex;
}

/*background immagini delle cards in news*/
.first-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.45)),
    url(../img/news-1.jpg);
  background-size: cover;
}

.second-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.45)),
    url(../img/news-2.jpg);
  background-size: cover;
}

.third-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.45)),
    url(../img/news-3.jpg);
  background-size: cover;
}

/*testo interno alle immagini in news*/
.text-img-news {
  padding: 20px;
  color: white;
  text-align: center;
}

/*sezione newsletter*/
#news-letter {
  width: 100%;
  min-height: 400px;
  background-image: url(../img/bg-1.jpg);
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  display: flex;
  align-items: center;
}

/*contenitore news-letter*/
#cont-newsletter {
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  padding: 20px 10px;
}

/*aside sx interno a news letter contenitore*/
#newsletter-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#newsletter-text p {
  padding-top: 15px;
  color: #e3e7df;
}

#container-form {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input-newsletter {
  background-color: #e3e7df;
  opacity: 0.3;
  height: 40px;
  width: 80%;
  margin-bottom: 20px;
  padding-left: 20px;
}

/* sezione get in touch */
#get-touch {
  width: 100%;
  padding: 60px 0;
  display: flex;
  align-items: center;
  background-color: white;
}

/*contenitore degli aside get in touch*/
#cont-send-mess {
  width: 100%;
  display: flex;
  min-height: 600px;
  padding: 60px 0;

  justify-content: space-between;
}

/*aside get in touch left*/
#message-form {
  width: 65%;
  /*debug*/
}

#cont-message {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

#message-form h1 {
  padding: 20px 0;
}

#form-message {
  padding: 20px 0;
}

/*form messaggi*/
.input-wrap input,
#cont-message select {
  width: 100%;
  height: 40px;
  border-radius: 2px;
  background-color: #ececec;
  border-radius: 5px;
  padding: 5px;
  border-style: none;
}

#cont-message select {
  width: 100%;
}

/*classe wrapper input e select*/
.input-wrap {
  width: 48%;
  height: 40px;
  margin: 2% 0;
}

/*primo div wrapper con icona in position absolute*/
#name-div {
  position: relative;
}
/*icona in input name*/
.input-wrap img {
  position: absolute;
  top: 0.5em;
  left: 90%;
}
/*input name padding testo*/
#name-input {
  padding-right: 30px;
}
/*textarea messaggio*/
#messaggio {
  width: 100%;
  background-color: #ececec;
  border-radius: 5px;
  padding: 5px;
  border-style: none;
}

/*aside destro al form*/
#contact-message {
  width: 30%;
}

#text-contact {
  margin: 20px 0;
}

#text-contact div {
  margin: 20px 0;
}

#contact-touch {
  margin-bottom: 20px;
}

/*linea contatto*/
.cont-touch {
  display: flex;
  padding: 10px 0;
  align-items: center;
}

.cont-touch p {
  font-size: 15px;
  color: #038483;
}

.viewmap {
  background-color: none;
  color: #038483;
  border: 1px solid #038483;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
}

.cont-touch i {
  border-radius: 50%;
  background-color: #39c4c622;
  padding: 10px;
  color: #038483;
  margin-right: 5px;
}

/* footer */
footer {
  width: 100%;
  min-height: 400px;
  background-color: #111117;
  padding: 100px 0;
  display: flex;

  color: #c0c3d0;
}

#cont-foot-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#contact-footer {
  padding: 8px 0;
}
#text-foot-card {
  padding: 5px 0;
}

#text-foot-card p {
  margin: 15px 0;
  font-size: 14px;
}

#contact-footer p {
  font-size: 14px;
  margin-left: 5px;
}

/*cards generali footer*/
.cards-foot {
  width: 22%;
  border-radius: 8px;
  /*debug*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-name {
  color: white;
  padding: 11px;
}

/*cards popolate da link vue footer*/
.vue-cards-footer {
  padding: 20px;
  background-color: #19191f;
}

#get-in-touch {
  padding: 10px 0px;
}

/*lista generata in vue link footer*/
.lista-link-footer {
  list-style: none;
  padding: 20px 0;
}

.lista-link-footer a {
  text-decoration: none;
  color: #c0c3d0;
  font-size: 13px;
}

/*link generati in vue footer*/
.lista-link-footer li {
  padding: 3px 0;
}

.cont-footer {
  display: flex;
  padding: 10px 0;
}

/*sub footer*/
#sub-footer {
  width: 100%;
  height: 60px;
  background-color: #0d0d11;
  position: relative;
}

/*contenitore crediti subfooter*/
#cont-credits {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a9bda5;
  font-size: 12px;
}

#codings {
  color: #00a6a6;
  text-decoration: none;
  font-size: 14px;
}

#page-up {
  margin: 0;
  position: absolute;
  right: 30px;
}

#page-up i {
  font-size: 20px;
  color: #111117;
  border: 1px solid;
  background-color: #19191f;
  padding: 10px;
  border-radius: 50px;
}
